<div class="wrapper wrapper-content animated fadeInRight">

  <div class="middle-box text-center animated fadeInDown">

      <h1>404</h1>
      <p class="h3">Not found</h3>

      <div class="text-muted">
        Sorry, but the resource you requested was not found.
        If you think that is a mistake please contact one of the site administrators.
      </div>

  </div>

</div>
