<div class="wrapper wrapper-content animated fadeInRight">

  <div class="middle-box text-center animated fadeInDown">

      <h1>500</h1>
      <p class="h3">Server error</h3>

      <div class="text-muted">
        Sorry, but something serious has gone wrong.
        Please contact one of the site administrators if this happens repeatedly.
      </div>

  </div>

</div>
