<div class="footer">
    <div class="float-right">
        <%= image_tag("logo.png", class: 'd-block-inline mb-1', alt: "Causeway Coding Logo", width: "25", height: "25") %>
        <strong>Causeway Coding</strong>
    </div>
</div>
